<div class="offer-holder">
    <div class="membership">
        <figure class="woc-square-logo-holder-smaller">
            <img class="woc-square-logo-smaller" src="{{asset 'images/WoC-Square-trans.png'}}" alt="WoC Logo">
        </figure>
        <div class="membership-text">
            This content is for paying members only.
        </div>
    </div>
    <div class="signup-text">
        <div>Subscribe now and get something the rest of the crowd doesn't: access to special weekly member-only content!</div>
        <!-- <div class="choices"><strong>Choose Your Plan:</strong></div> -->
        <div class="signup-button"><a href='#/portal/subscribe'><button class='subscribe-button-post' style='border:none; font-size:24px; font-family:sans-serif; font-weight:700; padding:10px 20px; color:white; background-color:rgb(43, 43, 43);'>Subscribe</button></a></div>
    </div>
    <!--
    <div class="pitches">
        <div class="offer">
            <span class="signup-text-inside">
                <div><i class="fas fa-check"></i> <strong>Unlock Paid Content</strong></div>
                <div><i class="fas fa-check"></i> Read our regular Q&amp;A features</div>
                <div><i class="fas fa-check"></i> Listen to members-only podcast episodes</div>
                <div><i class="fas fa-check"></i> Access to our archives</div>
                <div><i class="fas fa-check"></i> Support our work</div>
                <div>&nbsp;</div>
                <div class="button-holder">
                <a class="checkout-button"
                    href="javascript:"
                    data-members-plan="Monthly">
                    $5/month</a>
            </div>
            </span>
        </div>
        <div class="offer">
            <span class="signup-text-inside">
                <div><i class="fas fa-check"></i> <strong>Unlock Paid Content</strong></div>
                <div><i class="fas fa-check"></i> Read our regular Q&amp;A features</div>
                <div><i class="fas fa-check"></i> Listen to members-only podcast episodes</div>
                <div><i class="fas fa-check"></i> Access to our archives</div>
                <div><i class="fas fa-check"></i> Support our work</div>
                <div><i class="fas fa-check"></i> <strong>Save 16%!</strong></div>
                <div class="button-holder">
                    <a class="checkout-button"
                        href="javascript:"
                        data-members-plan="Yearly">
                        $50/year</a>
                </div>
            </span>
        </div>
    </div>
    -->
</div>
<div class="already-member">
    Already have a paid account? {{#link href="#/portal/signin/"}}Log in{{/link}} to gain access.
</div>