<footer class="footer">
    <div class="content">
        <div class="footer-element">
            The Wisdom of Crowds &copy; 2019-{{date format="YYYY"}}
        </div>
        <div class="footer-element">
            Customer Support: <a href="mailto:wisdomcrowdspod@gmail.com">Email Us</a>
        </div>
    </div>
</footer>